.layout {
  transition: all 0.3s ease-in-out !important;
  .header {
    grid-area: header;
  }
  .sidebar {
    grid-area: sidebar;

    &.showbar {
      transition: all 1s;
      + .content {
        width: calc(100% - 15rem);

        @media screen and (max-width: 1024px) {
          width: calc(100% - 3.5rem);
        }
      }
    }
    + .content {
      width: calc(100% - 3.5rem);
    }
  }
  .content {
    transition: all 0.5s;
    padding: 1rem;
    scroll-behavior: smooth;
    overflow: hidden auto;
    margin: 4.2rem 0 0 auto;
    min-height: calc(100vh - 4.2rem);
    right: 0;

    @media screen and (max-width: 1024px) {
      margin: 3.3rem 0 0 auto;
      min-height: calc(100vh - 3.3rem);

      h1 {
        font-size: 1rem;
      }
    }
  }

  min-height: 100%;
}
