.ticket-card {
  background-color: #3a57e80b;
  border-radius: 0.7rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  min-height: 9rem;
  //   max-width: 20rem;
  color: #232d42;

  .ticket-card-header {
    min-height: 2rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    align-items: center;
    display: flex;

    h3 {
      font-size: 1rem;
    }

    .ticket-card-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      svg {
        color: #232d42;
        transition: all 0.3s;
        font-size: 1rem;

        &:hover {
          font-size: 1.2rem;
          color: #3a57e8;
          cursor: pointer;
        }
      }
    }
  }

  h5 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.85rem;
  }

  .description {
    padding: 0.5rem;

    .assign {
      display: flex;
      align-items: center;
      margin: 0.5rem 0 0.7rem;

      div {
        flex: 1;
      }
    }
    .date {
      font-size: 0.75rem;
      color: rgb(88, 88, 88);
    }
  }
  //   grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
